@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b>Welcome <br /> to our <br />job application platform!</b></h1>
    <div class="row">
        <div class="col-lg-6">
            <div class="hs-text">
                <h2 class="text-white text-center">Looking for a seasonal work in England?</h2>
                <h5 class="text-white text-center">Are you looking for a new experience in the agriculture?</h5>
                <h5 class="text-white text-center">Are you looking for a summertime job offer in the UK?</h5>
                <h5 class="text-white text-center">Do you will to earn and save decent money?</h5>
                <h5 class="text-white text-center">Do you want have your hard work well paid for?</h5>
                <a href="#" class="btn btn-info">Find out more</a>
            </div>
        </div>
        <div class="col-lg-6 mt-lg-2">
            <form class="hero-form">
                <h3 class="text-white text-center"> If you have an account</h3>
                <button class="btn btn-info w-50">Login</button>
                <h3 class="text-white text-center"> If you haven`t</h3>
                <button class="btn btn-info w-50">Register</button>

            </form>
        </div>
    </div>
</div>
