@model AllUsersIndexViewModel
@{ 
    ViewData["Title"] = "Users Index";
    
}
    
    <a class="btn btn-dark" href="/Home/Index">Back to index</a>
    <table class="table table-dark w-50 m-auto">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Full Name</th>
                <th scope="col">Contact Number</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            @{ var rowNumber = 1;} 
            @foreach (var user in Model.AllUsersCollection)
            {
                <tr>
                    <th scope="row">@rowNumber</th>
                    <td>@user.FullName</td>
                    <td>@user.PhoneNumber</td>
                    <td><a asp-controller="Users" asp-action="Details" asp-route-fullName="@user.FullName">More...</a></td>
                </tr>
                rowNumber++;
            }
        </tbody>
    </table> 