
@model ListAddressesModel
@{
    ViewData["Title"] = "Addresses Index";
    var primaryAddressClass = "table-dark";
}

<a class="btn btn-dark" href="/Home/Index">Back to index</a>

@if (TempData["Message"] != null)
{
    <div class="w-50 bg-dark text-white m-auto">@TempData["Message"]</div>
}
<hr /><br />

<table class="table w-75 m-auto h5">

    <caption style="caption-side:top">@("Adresses of " + this.User.Identity.Name.Capitalize())</caption>


    @foreach (var item in Model.ShortAddressDetailsModelsList)
    {
        @if (item.AddressType == AddressType.Alternative)
        {
            primaryAddressClass = "table-light";
        }
        <tr class="@primaryAddressClass row">
    <td class="col-10">
        @item.ShotenedContent
    </td>
    <td class="col-1">
        <button class="btn btn-dark"> Edit</button>

    </td>
    <td class="col-1">
        <button class="btn btn-dark"> Delete</button>

    </td>
</tr>

    }

</table>
<br />
<hr />
<div class="container w-75 d-flex p-3">
    <a class="btn btn-dark" href="/Addresses/Create">Add address</a>
</div>

