@page
@model LogoutModel
@{
    ViewData["Title"] = "Logging out";
}

<div class="d-flex justify-content-center m-10">
    <h1 class="text-warning">@ViewData["Title"]</h1>
</div>
<div class="d-flex justify-content-center m-10">
    <h2>You have successfully logged out of the application.</h2>
</div>
<div class="d-flex justify-content-center m-10">
    <h3><a href="/Home/Index">Back to index!</a></h3>
</div>

