@page
@model LogoutModel
@{
    ViewData["Title"] = "Logging out";
}

<header class="d-flex justify-content-center m-10">
    <h1 class="text-warning">@ViewData["Title"]</h1>
    <br />
    <h2>You have successfully logged out of the application.</h2>
    <h3><a href="/Home/Index">Back to index!</a></h3>
    
</header>