.mainBackground {
    background-image: url('../photos/main.jpg');
    background-repeat: no-repeat;
    background-size:auto;
}

.footerFill {
    background-color: darkcyan;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    color: brown;
}

